<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="">
    <head>
        <title>Angluar JS</title>
     
    </head>
    <body ng-init="customers=[{'name':'John Smith','city':'Phoenix'},{'name':'John Doe','city':'New York'},{'name':'Jane Doe','city':'San Fransico'}]">
       
        
           <input type="text" ng-model="name"><br><br>Hey {{name}}
             <ul>
                 <li ng-repeat="cust in customers |filter:name | orderBy:'city'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
            </ul>
           
            <script src="angular.min.js"></script>
    </body>
</html>